# Python / Backend
__pycache__/
*.py[cod]
*.env
.env
venv/
.venv/
*.egg-info/
dist/

# Android / Gradle
*.iml
.gradle
/local.properties
local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/build
/captures
.externalNativeBuild
.cxx
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/*.iml
android/.idea/

# General
.DS_Store
Thumbs.db
